<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DestroyTheWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59943BBD1D56523F00C6F63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59943BD11D56524000C6F63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59943BDC1D56524000C6F63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
